[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
loguru = "*"
google-cloud-logging = "*"
gcloud-loguru = {editable = true, path = "."}

[requires]
